<!DOCTYPE html>
<html>
<head>
<title>indCAPS</title>
<link rel="stylesheet" href="static/custom.css" type="text/css" />
</head>
<body>
<ul>
{% if notes != [] %}
{% for note in notes %}
<li>{{ note }}</li>
{% endfor %}
{% endif %}
</ul>
<div>
<pre>
{% if allResults != [] %}
{% for enzymeResult in allResults %}
{% for eachLine in enzymeResult %}
{% for eachItem in eachLine %}
{{ eachItem }}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
</pre>
</div>
</body>
</html>


<span class="inner-pre" style="margin:0; text-align: left;">